<?php 

namespace Simbiotica\CartoDBClient;

class CartoDBConfig
{
    static function getPrivateConfig() {
        return array(
            'api_key' => 'your-api-key',
            'consumer_key' => 'your-consumer-key',
            'consumer_secret' => 'your-consumer-secret',
            'subdomain' => 'your-subdomain',
            'email' => 'your-email',
            'password' => 'your-password',
        );
    }
    
    static function getPublicConfig() {
        return array(
            'subdomain' => 'your-subdomain',
        );
    }
}

?>